@charset "UTF-8";


/*ajuste da imagem no conteudo que fica ao lado do texto*/
.image_conteine{
    display:flex;
    flex-direction: row;

}


@media (max-width: 800px) {
    .image_conteine{
      
      display: flex;
      flex-direction: column;

    }
    .image_conteine>img{
width: 290px;
height:250px;
display: block;
margin: auto;

}
 
} 